.header {
  position: fixed; /* Fixe le header en haut de la page */
  top: 0;          /* Positionne le header tout en haut */
  left: 0;         /* Positionne le header tout à gauche */
  right: 0;        /* Étend le header jusqu'à la droite */
  max-width: 90%;
  padding: 20px 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espace entre le logo et le menu */
  background-color: #fff; /* Assure que le header a un fond */
  z-index: 1000;    /* Assure que le header reste au-dessus des autres éléments */
}


.logo {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Espacement entre la photo et la liste */
}

.greeting-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;  /* Largeur réduite de la div contenant l'image */
  height: 80px; /* Hauteur réduite de la div contenant l'image */
  overflow: hidden;
  border-radius: 50%; /* Rendre la div circulaire */
  margin-right: 1px; /* Ajouter un peu d'espace à droite de l'image */
}

.greeting-image-div img {
  width: 100%;  /* L'image occupe toute la largeur de la div */
  height: auto;
  border-radius: 50%; /* L'image est circulaire */
  object-fit: cover; /* Assure que l'image couvre toute la div sans déformation */
}

.menu {
  flex-grow: 1;  /* Permet à la liste de prendre tout l'espace restant */
  display: flex;
  justify-content: space-between; /* Répartir les éléments de manière égale */
  list-style: none;
  margin: 0;
  overflow: hidden;
  background-color: #fff;
  border: 2px solid #007bff; /* Définir une bordure autour de la liste */
  border-radius: 50px; /* Arrondir fortement les coins pour un effet elliptique */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajouter une ombre pour un effet de profondeur */
}



.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  padding: 15px 15px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.menu li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

button {
  margin: 10px;
  background: transparent;
  border: 2px solid #007bff;
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s ease, border-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  transform: scale(1.1);
  border-color: #0056b3;
}

button:focus {
  outline: none;
  border-color: #0056b3;
}

button:active {
  transform: scale(0.9);
}
