<div class="skills-container" *ngIf="techStack.viewSkillBars" wmAnimate="fadeInUp" aos speed="normal">
  <h1 class="skills-heading">
    {{ 'skillProgress.proficiency' | translate }} <i class="fas fa-cogs"></i>
  </h1>
  
  <div class="skills-content">
    <div class="skills-bar">
      <div class="skill" *ngFor="let exp of techStack.experience">
        <p>{{ exp.Stack | translate }}</p>
        <div class="meter">
          <span [ngStyle]="{'width': exp.progressPercentage, 'background-color': getProgressColor(exp.progressPercentage)}"></span>
        </div>
      </div>
    </div>

    <div class="skills-bar">
      <div class="skill" *ngFor="let exp of techStack.experience2">
        <p>{{ exp.Stack | translate }}</p>
        <div class="meter">
          <span [ngStyle]="{'width': exp.progressPercentage, 'background-color': getProgressColor(exp.progressPercentage)}"></span>
        </div>
      </div>
    </div>
  </div>
</div>
