.social-media-div {
  display: flex;            /* Utilise Flexbox pour la mise en page */
  justify-content: center;  /* Centre le contenu horizontalement */
  align-items: center;      /* Centre le contenu verticalement si nécessaire */
  flex-wrap: wrap;          /* Permet de retourner à la ligne si l'espace est limité */
  text-align: center;       /* Centrer le texte à l'intérieur */
  margin: 20px auto;        /* Centrer la div elle-même et ajouter un peu d'espace autour */
}

.icon-button {
  margin: 0 10px;           /* Ajoute de l'espace entre les icônes */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajoute une transition pour l'effet hover */
  text-decoration: none;    /* Enlève la décoration de texte par défaut */
}

.icon-button i {
  color: white;
  border-radius: 50%;       /* Rendre les icônes circulaires */
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  text-align: center;
  width: 2.6rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour la profondeur */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Ajoute des transitions pour l'arrière-plan et le zoom */
}

.facebook i {
  background-color: #3b5998;
}

.linkedin i {
  background-color: #0e76a8;
}

.github i {
  background-color: #333;
}

.google i {
  background-color: #ea4335;
}

.instagram i {
  background-color: #c13584;
}

/* Effet Hover avec Transition */
.icon-button:hover i {
  transform: scale(1.1); /* Légèrement agrandir l'icône */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Augmenter l'ombre au survol */
}

.icon-button i:hover {
  background-color: #555; /* Change la couleur de fond au survol */
}

/* Media Query pour Petits Écrans */
@media (max-width: 768px) {
  .social-media-div {
    justify-content: center; /* Centre le contenu sur les petits écrans */
    flex-direction: column;  /* Change l'orientation en colonne sur les petits écrans */
    gap: 10px;               /* Ajoute de l'espace entre les icônes */
  }
}
