<div class="container">
  <h1 class="timeline-heading">{{ 'timeline.title' | translate }}</h1>

  <ul class="timeline">
    <li *ngFor="let item of timeline">
      <div [class]="item.className">
        <div class="flag-wrapper">
          <span class="flag">{{ item.heading | translate }}</span>
          <span class="time-wrapper"><span class="time">{{ item.duration | translate }}</span></span>
        </div>
        <div class="desc">{{ item.content | translate }}</div>
      </div>
    </li>
  </ul>
</div>
