.main {
  padding-top: 120px; /* Ajustez en fonction de la hauteur réelle de l'en-tête */
  margin-top: 0px; /* Supprimez le margin-top si le padding-top est suffisant */
}

.skills-main-div {
  display: flex;
  padding-bottom: 40px; /* Ajoutez un peu de padding pour l'espace */
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 10px; /* Réduire la marge pour minimiser l'espace vide */
}

.skills-text-div {
  margin-left: 50px;
}

@media (max-width: 768px) {
  .main {
    padding-top: 60px; /* Moins de padding pour les petits écrans */
  }
  .skills-main-div {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
}
