<div class="main" id="skills">
  <div class="skills-main-div">
    <div class="skills-text-div" wmAnimate="fadeInLeft" aos speed="normal">
      <h1 class="skills-heading">{{ 'skillsSection.title' | translate }}</h1>
      <p class="subTitle skills-text-subtitle">{{ 'skillsSection.subTitle' | translate }}</p>

      <div *ngFor="let skill of skillsSection.skills">
        <p class="s">{{ skill | translate }}</p>
      </div>
    </div>

    <div class="skills-image-div" wmAnimate="fadeInRight" aos speed="normal">
      <app-software-skill></app-software-skill>
    </div>
  </div>
</div>
