

<!-- Import FontAwesome CSS (si nécessaire) -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

<!-- Application Header -->
<app-header></app-header>

<!-- Main Content Sections -->
<section id="greeting">
    <app-greeting></app-greeting>
</section>

<section id="skills">
    <app-skills></app-skills>
</section>

<section id="education">
    <app-education></app-education>
</section>

<section id="skill-progress">
    <app-skill-progress></app-skill-progress>
</section>

<!-- <section id="projects">
    <app-projects></app-projects>
</section> -->

<section id="experience">
    <app-experience></app-experience>
</section>

<section id="contact">
    <app-contact></app-contact>
</section>

<!-- Back to Top Button -->
<!-- <app-top-button></app-top-button> -->

<!-- Application Footer -->
<app-footer></app-footer>

<!-- Router Outlet for Additional Views or Navigation -->
<router-outlet></router-outlet>


