<div class="greet-main" id="greeting">
  <div class="greeting-main" wmAnimate="fadeInUp" aos speed="normal">
    <div class="greeting-text-div">
      <div>
        <h1 class="greeting-text">
          {{ 'greeting.title' | translate }}
        </h1>
        <p class="greeting-text-p subTitle">{{ 'greeting.subTitle' | translate }}</p>
        <br>
        <app-social-media></app-social-media>
        <div class="button-greeting-div">
          <div>
            <a class="main-button" href="#contact">{{ 'buttons.contact' | translate }}</a>
          </div>
          <div>
            <a class="main-button" [href]="getResumeLink()" target="_blank">
              {{ 'buttons.resume' | translate }}
            </a>
          </div>
          <br><br><br>
        </div>
      </div>
    </div>
  </div>
</div>
