.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0 auto;
  margin-top: 4rem;
  margin-top: 80px;

}

.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0 auto;
  margin-top: 2rem;
  //margin-top: 80px;


  text-align: center; /* Centre le texte par défaut */
  padding-top: 20px; /* Ajuste le padding pour réduire l'espace */
}

.greeting-main {
  display: flex;
  flex-direction: column; /* Empile les éléments verticalement */
  justify-content: flex-start; /* Aligne les enfants au début */
  align-items: center; /* Centre horizontalement les enfants */
  padding: 20px 0; /* Ajuste l'espacement autour */
  margin-top: 80px;

}

.greeting-text {
  font-size: 70px;
  line-height: 1.1;
  margin: 1rem 0; /* Espacement contrôlé au-dessus et en dessous */
}

.greeting-text-p {
  font-size: 22px;
  line-height: 40px;
  text-align: justify; /* Justifie le texte pour une meilleure lisibilité */
  margin: 1rem 0; /* Espacement contrôlé */
}

.button-greeting-div {
  display: flex;
  justify-content: center; /* Centre horizontalement les boutons */
  gap: 10px; /* Ajoute de l'espace entre les boutons */
  margin-top: 20px; /* Espacement en haut de la div */
}

.main-button {
  background-color: #55198b;
  border: solid 1px #55198b;
  color: white;
  font-weight: 700;
  padding: 13px 22px;
  border-radius: 6px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.main-button:hover {
  background-color: #ffffff;
  color: black;
  transform: translateY(-3px);
}

.greeting-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.greeting-image-div > img {
  max-width: 60%;
  width: 60%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .greeting-main {
    display: block;
  }
  .greeting-text {
    font-size: 35px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
}

@media (max-width: 320px) {
  .main-button {
    font-size: 12px;
  }
}

/* Animations */
@keyframes fade_up {
  0% {
    opacity: 0.01;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
